* {
  margin: 0;
  padding: 0;
}
html {
  margin-top: 100px;
}

body {
  text-align: center;
  font-family: arial;
  background-color: darkolivegreen;
  color: white;
  max-width: 1200px;

  margin: auto;
}
.text {
  text-align: center;
  margin-top: 300px;
  font-size: 3em;
}
button {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background: none;
  color: white;
  border: 5px solid wheat;
  font-size: 1.2em;
  transition: 0.3s;
  margin-bottom: 10px;
  overflow: hidden;

  button::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: wheat;
    content: "";
    transform: translateX(-105%);

    transition: transform 0.3s;
  }
  button:hover::before {
    transform: translateX(105%);
  }
  button::after {
    position: absolute;
    top: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    background: wheat;
    content: "";
    transform: translateX(105%);
    transition: transform 0.3s;
    transition-delay: 0.3s;
  }
  button:hover::after {
    transform: translateX(-2%);
  }
}
.button1 {
  position: absolute;
  top: 200px;
  left: 20px;
  overflow: hidden;
}
.button2 {
  position: absolute;
  top: 400px;
  right: 20px;
  overflow: hidden;
}
.button3 {
  position: absolute;
  left: 20px;
  top: 600px;
  overflow: hidden;
}
button:hover {
  cursor: crosshair;
  background: none;
  color: black;
}

.selected {
  background: skyblue;
  color: black;
}
.tabs {
  overflow: hidden;
  margin: 0 150px;
  .tab::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: wheat;
    content: "";
    transform: translateX(-105%);

    transition: transform 0.3s;
  }
  .tab:hover::before {
    transform: translateX(105%);
  }
  .tab::after {
    position: absolute;
    top: 99%;
    bottom: 0;
    left: 0;
    right: 0;
    background: wheat;
    content: "";
    transform: translateX(105%);
    transition: transform 0.3s;
    transition-delay: 0.3s;
  }
  .tab:hover::after {
    transform: translateX(-2%);
  }

  .box {
    width: 700px;
    height: 700px;

    margin: auto;
  }
  .box1 {
    border: white 8px solid;
  }
  .box2 {
    border: crimson 8px solid;
  }
  .box3 {
    border: black 8px solid;
  }
}
.tab {
  padding: 15px 30px;
  // border: 3px solid white;
  border-top: 0;
  transform: scaleX(1.5);
  opacity: 0;
  transition: 1s;
}

.tabAnimation {
  opacity: 1;
  transform: translateX(0) rotate(0);
}
